@import url('https://fonts.googleapis.com/css?family=Chicle&display=swap');

/* ----------------------------------------------onscreen page title */

header {
    background-color: #9d2f3c;
    font-family: "Chicle", sans-serif;
    font-size: 100px;
    color: #fcdf64;
    text-align: center;
    margin: 0;
    padding: 0;
}



footer {
    background-color: #9d2f3c;
    font-family: "Chicle", sans-serif;
    color: #fcdf64;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* ----------------------------------------------jumbotron */

.jumbotron-text {
    font-family: "Chicle", sans-serif;
    color: white;
    background-color: #9d2f3c;
}

.jumbotron {
    margin: 0px 10px 10px 10px;
    padding: 20px;
}

/*------------------------------------------------ RENAME THIS!*/

body {
    background-color: #fcdf64;
}



/*------------------------------------------------biography cards*/

.bio {
    margin: 0px 0px;
}

.card-fit {
    padding: 0;
    margin: auto;
}

.card {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0px;
    margin-bottom: 5px;
}

.card-img-top {
    width: 100%;
    height: auto;
    padding: 10px;
}

.card-title {
    font-family: "Chicle", sans-serif;
    color: white;
    text-align: center;
}

/*biography cards-Micky-----------------------------------------------*/
.micky {
    background-color: #93c572;
}
.mdbutton {
    background-color: #4b6c3e;
    border: 0px;
}
/*biography cards-Peter-----------------------------------------------*/
.peter {
    background-color: #4b6c3e;
}
.ptbutton {
    background-color: #93c572;
    border: 0px;
}
/*biography cards-Michael-----------------------------------------------*/
.michael {
    background-color: #ee82ee;
}
.mnbutton {
    background-color: #800080;
    border: 0px;
}
/*biography cards-Davy-----------------------------------------------*/
.davy {
    background-color: #800080;
}

.djbutton {
    background-color: #ee82ee;
    border: 0px;
}

/*------------------------------------------------social links*/

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 11.5px 0px;
    border-radius: 50%;
    border: 0.75px solid black;
    border-color: #9d2f3c;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fcdf64;
    background: #9d2f3c;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #9d2f3c;
    background: #fcdf64;
    border-color: #9d2f3c;

}

.social-row {
    margin-left: 0;
    margin-right: 0;
    padding: 5px 0px;
    text-align: center;
    border-color: #9d2f3c;
}

.list-inline {
    margin: 0;
}

/* ----------------------------------------------images */


.image1 {
    background-color: #93c572;
    padding: 5px;   
    margin-top: 10px;
    height: auto;
    max-width: 100%;

}

.image2 {
    background-color: #4b6c3e;
    padding: 5px;
    margin-top: 10px;
    height: auto;
    min-width: 100%;
}

.image3 {
    background-color: #800080;
    padding: 5px;
    margin-top: 10px;
    height: auto;
    max-width: 100%;
}

.image4 {
    background-color: #ee82ee;
    padding: 5px;
    margin-top: 10px;
    height: auto;
    max-width: 100%;
}

.top-section {
    background-color: #fcdf64;
}

/* ----------------------------------------------media queries font size */

/* Header */

@media (min-width:0px) and (max-width:767px) {
    .headertext {
        font-size: 75px;
    }
}

@media (min-width:768px) and (max-width:767px) {
    .headertext {
        font-size: 75px;
    }
}

/* jumbotron text size*/

@media (min-width:1px) and (max-width:575px) {
    .jumbotron-text {
        font-size: 26px;
    }
}

@media (min-width:576px) and (max-width:767px) {
    .jumbotron-text {
        font-size: 28px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .jumbotron-text {
        font-size: 30px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .jumbotron-text {
        font-size: 32px;
    }
}

@media (min-width:1200px) and (max-width:4000px) {
    .jumbotron-text {
        font-size: 34px;
    }
}

/* card title text size*/

@media (min-width:1px) and (max-width:575px) {
    .card-title {
        font-size: 26px;
    }
}

@media (min-width:576px) and (max-width:767px) {
    .card-title {
        font-size: 28px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .card-title {
        font-size: 30px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .card-title {
        font-size: 32px;
    }
}

@media (min-width:1200px) and (max-width:4000px) {
    .card-title {
        font-size: 34px;
    }
}


.iframe-container{
  position: relative;
  width: 75%;
  padding-bottom: 56.25%; 
  height: 0;
 
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* ----------------------------------------------Footer



/* ----------------------------------------------1960's colour palette
#fcdf64 Sunbeam (yellow)
#ffdb58 hot mustard 
#45cea2 Shamrock (green)
#4b6c3e western cactus (dark green)
#93c572 pistachio (light green)
#ea7e5d burnt sienna (pinky red)
#9d2f3c darker red
#800080 deep purple (as the name says!)
#ee82ee mood violet (light purple)
#ff0800 candy apple red
*/
