@import url('https://fonts.googleapis.com/css?family=Chicle&display=swap');

/* ----------------------------------------------onscreen page title */

.header {
    background-color: #9d2f3c;
    /* burnt sienna */
    font-family: "Chicle", sans-serif;
    font-size: 100px;
    color: #fcdf64;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 75%;
}


/* ----------------------------------------------jumbotron */

.jumbotron-text {
    font-family: "Chicle", sans-serif;
}

.jumbotron {
    margin: 10px;
    padding: 10px;
}

.container1 {
    background-color: #fcdf64;
}

body {
    background-color: #fcdf64;
}

/* ----------------------------------------------images */

.image1 {
    background-color: #93c572;
    margin-top: 10px;
    border: 5px;
    padding: 5px;
    border-color:blue;
    height: auto;
    max-width:100%;
    
}

.image2 {
    background-color: #4b6c3e;
     padding: 5px;
    margin-top: 10px;
    height: auto;
    max-width:100%;
}

.image3 {
    background-color: #800080;
     padding: 5px;
    margin-top: 10px;
    height: auto;
    max-width:100%;
}

.image4 {
    background-color: #ee82ee;
     padding: 5px;
    margin-top: 10px;
    height: auto;
    max-width:100%;
 }

.top-section {
    background-color: #fcdf64;
}

/* ----------------------------------------------media queries */




/* ----------------------------------------------1960's colour palette
#fcdf64 Sunbeam (yellow)
#ffdb58 hot mustard (yellow)
#45cea2 Shamrock (green)
#4b6c3e western cactus (dark green)
#93c572 pistachio (light green)
#ea7e5d burnt sienna (pinky red)
#9d2f3c darker red
#800080 deep purple (as the name says!)
#ee82ee mood violet (ligyt purple)

*/
